*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Larsseit, sans-serif;
}

section {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
  line-height: 53px;
  color: #22356F;
  letter-spacing: -0.035em;
  font-weight: bold;
  margin: 34px 0 68px 0;
}

.header {
  padding: 0 9% 0 12.5%;
  height: 100vh;
  background: #f4f9e2;
  background: -moz-linear-gradient(left,  #f4f9e2 78%, #ffffff 22%);
  background: -webkit-linear-gradient(left,  #f4f9e2 78%,#ffffff 22%);
  background: linear-gradient(to right,  #f4f9e2 78%,#ffffff 22%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f9e2', endColorstr='#ffffff',GradientType=1 );
}

.main-row {
  padding: 26px 0 170px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.logo p {
  font-size: 24px;
  line-height: 27px;
  color: #62D0DF;
  font-weight: bold;
}

.menu__list {
  display: flex;
}

.menu__list li {
  margin: 0 20px 0 0;
}

.menu__list a {
  padding: 0 3px 10px 3px;
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
  font-weight: 600;
  border-bottom: 0px solid transparent;
  transition: border-bottom 0.3s ease;
}

.menu__list a:hover {
  transition: all 0.3s ease;
  border-bottom: 1px solid black;
}

.main-row__button {
  display: block;
  padding: 20px 30px;
  background: #62D0DF;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  border-radius: 50px;
}
.main-row__button:hover{
  color: #F9B640;
  transition: all 0.3s ease 0s;
}

.main-row__menu {
  margin-top: 15px;
}

.main-row__logo {
  margin-top: 8px;
}

.header__img {
  max-width: 51.6vw;
  position: absolute;
  top: 0;
  right: 0;
}

.content-header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.content-text {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
}

.content-header__buttons {
  margin-top: 60px;
}

.button {
  padding: 20px 30px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  font-weight: bold;
}

.button:hover {
  color: white !important;
  background: #F9B640;
  transition: all .3s ease 0s;
}

.why-content {
  padding-right: 2%;
}

.why {
  background: #62D0DF;
  display: flex;
  justify-content: space-between;
  padding-left: 12.5%;
}

.why h2 {
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  padding: 150px 0 75px 0;
}

.why p {
  max-width: 555px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 35px;
  color: #FFFFFF;
}

.why span {
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
}

.about-us-description {
  display: flex;
  padding: 150px 0 0 0;
  justify-content: space-around;
  max-width: 1300px;
}

.about-us-description h2 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356F;
}

.about-us-description p {
  max-width: 600px;
}

.about-us__help {
  margin: 70px 0 24px 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

.about-us__squaers {
  margin-bottom: 120px;
}

.squares {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.square-4 {
  height: 24.75vw;
  width: 25%;
  display: flex;
  justify-content: center;
}

.square-content {
  padding-top: 6.666%;
  width: 70%;
  border-top: 1px solid white;
  margin-top: 20%;
  display: flex;
}

.squares__point {
  margin: 8px 15px 0 0;
  min-width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #E9B730;
}

.squares h4 {
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.square-4:nth-child(1) {
  background: #FFE2DE;
}

.square-4:nth-child(2) {
  background: #C4E769;
}

.square-4:nth-child(3) {
  background: #62D0DF;
}

.square-4:nth-child(4) {
  background: #0052C1;
}

.square-6 {
  height: 33vw;
  width: 33.3333%;
  display: flex;
  justify-content: center;
}

.square-6:nth-child(1) {
  background: #22356F;
}

.square-6:nth-child(2) {
  background: #0052C1;
}

.square-6:nth-child(3) {
  background: url(img/bg.png) 0 0/100% 100% no-repeat;
}

.square-6:nth-child(4) {
  background: #62D0DF;
}

.square-6:nth-child(5) {
  background: #DEE1FF;
}

.square-6:nth-child(6) {
  background: #8F00FF;
}

.cards {
  margin: 22px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33.3333%;
}

.card-content {
  padding: 23% 16% 15% 22%;
}

.card-content h4 {
  margin-bottom: 10%;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
}

.card-content p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.blog {
  display: flex;
}

.blog-content {
  padding: 100px 0 0 11%
}

.blog-content h3 {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356F;
}

.blog-content p {
  margin: 210px 0 152px 0;
  max-width: 676px;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356F;
}

.blog-content span {
  color: #62D0DF;
}

.blog .button {
  margin-left: -5%;
}

.contact-us {
  padding-left: 12.5%;
  display: flex;
  background: #22356F;
}

.contact-us-content {
  padding-right: 2%;
}

.contact-us h2 {
  padding-top: 100px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contact-us h3 {
  margin: 210px 0 75px 0;
  font-weight: bold;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.contact-us p {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.contact-us .button {
  margin: 0 0 0 -30px;
  color: #62D0DF;
}

.some-info {
  display: flex;
}

.some-info-content {
  width: 100%;
  padding: 98px 0 0 7.8%;
  display: flex;
}

.some-info-content h4 {
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356F;
}

.some-info-content p {
  max-width: 210px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.some-info-column {
  padding-right: 10%
}

.some-info-content a {
  margin-top: 4px;
  color: #006DFF;
  display: block;
}

footer {
  display: flex;
  align-items: center;
  background: #62D0DF;
  height: 80px;
}

footer p {
  margin-left: 180px;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}


@media (max-width: 1200px) {
  .main-row {
    flex-wrap: wrap;
  }

  .why, .header, .contact-us, .blog-content {
    padding-left: 5%;
  }

  .some-info-content {
    padding-left: 3%;
  }

  .some-info-column {
    padding-right: 3%
  }

  .why h2 {
    padding: 80px 0 40px 0;
  }

  .blog-content {
    padding-top: 60px;
  }

  .blog-content p {
    margin: 120px 0 80px 0;
  }

  .contact-us h2 {
    padding-top: 60px;
  }

  .contact-us h3 {
    margin: 100px 0 40px 0;
  }
}

@media (max-width: 940px) {
  .header {
    height: auto;
  }

  .content-header__buttons {
    margin-bottom: 50px;
  }

  .why, .blog, .contact-us, .some-info {
    padding: 0;
    flex-direction: column;
  }

  .why, .blog, .contact-us p {
    text-align: center;
  }

  .why, .blog, .contact-us div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .why-img, .blog-img, .contact-us-img, .some-info-img {
    margin-top: 18px;
  }

  .why-img img, .blog-img img, .contact-us-img img, .some-info-img img {
    max-width: 100%;
  }

  .about-us-description {
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 80px;
  }

  .about-us-description h2 {
    margin-bottom: 10px;
  }

  .squares h4 {
    font-size: 20px;
  }

  .squares__point {
    margin: 10px 7px 0 0;
    min-width: 7px;
    height: 7px;
  }

  .card-content {
    padding: 15% 8% 7% 15%;
  }

  .blog, .some-info {
    flex-direction: column-reverse;
  }

  .blog-content {
    padding-left: 3%;
    padding-right: 3%;
  }

  .some-info {
    align-items: center;
  }

  .some-info-content {
    padding: 5% 5% 0 5%;
    justify-content: space-around;
  }
}

@media (max-width: 639px) {
  .main-row {
    padding-bottom: 100px;
  }
  .main-row__logo {
    flex-basis: 100%;
    margin-bottom: 50px
  }

  .main-row__menu {
    flex-basis: 100%;
    margin-top: 60px;
    order: 2;
  }

  .main-row__button-wrap {
    flex-basis: 50%;
    order: 1;
  }

  .main-row__button {
    padding: 18px 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .button {
    font-size: 14px;
    padding: 15px 23px;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .logo p {
    line-height: 23px;
    font-size: 20px;
  }

  .content-text {
    font-size: 20px;
    line-height: 35px;
  }

  .why-content h2 {
    padding: 60px 0 30px 0;
    font-size: 28px;
    line-height: 22px;
  }

  .why-content p {
    text-align: left;
    padding: 3%;
    font-size: 16px;
    line-height: 30px;
  }

  .why-content span {
    font-size: 20px;
    line-height: 30px;
  }

  .about-us-description p {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
  }

  .square-4, .square-6 {
    height: 50vw;
    width: 50%;
  }

  .card {
    width: 50%;
  }

  .card-content h4 {
    font-size: 22px;
    line-height: 26px;
  }

  .card-content {
    padding: 10% 5% 4% 10%;
  }

  .card-content p {
    font-size: 15px;
    line-height: 20px;
  }

  .blog-content {
    padding-top: 30px;
  }

  .blog-content p {
    margin: 70px 0 80px 0;
    font-size: 27px;
    line-height: 35px;
  }

  .contact-us-content {
    padding-right: 3%;
    padding-left: 3%;
  }

  .contact-us h3 {
    text-align: center;
    margin: 60px 0 30px 0;
    font-size: 40px;
    line-height: 50px;
  }

  .contact-us p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  footer {
    height: 50px;
  }

  footer p {
    margin-left: 50px;
  }
}
